body {
    margin: 20px;
}
ul {
list-style: none;
text-align: center;
margin-right: auto;
margin-left: auto;
}

h1 {
    text-align: center;
}
.nav-links {
    text-align: center;

}
.nav-links a {
    margin: 0 20px;
}
p {
    text-align: center;
}
.croissant-photo {
display: block;
margin: 0 auto;
padding: 20px;
border-radius: 25% 10%;
}
